.community-container{
    /* background-color: aqua; */
    /* height: 100vh; */
    width: 100vw;
    height: 93vh;
    overflow: auto;
}

/* Switch Toggler */
.feed-msg-switch{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border-radius: 50px;
    width: 220px;
    justify-content: space-evenly;
    padding: 5px;
    gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin:10px auto;
}
.community-toggler{
    /* background-color: aqua; */
    height: 100%;
    cursor: pointer;
    flex: 1;
    border-radius: 40px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s all;
}
.community-toggler:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.active-comm{
    background-color: rgb(255, 55, 88);
    color: white;
}
.news-feed-head{
    padding: 0 10px;
}

.community-welcome-note{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 10px;
}

.community-post-status{
    /* padding: 10px; */
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-top: 20px;
}
.user-img-cont{
    height:100px;
}
.active-user-logo{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid pink;
}
.comm-share-status{
    flex: 1;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    height: 100px;
    resize: none;
    font-family: 'Inter', sans-serif;
}
.post-btn{
    height: 25px;
    cursor: pointer;  
}



/* Posts */
.comm-allusers-post{
    padding: 10px;
}

.allusers-post{
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    padding: 10px;
    margin-bottom:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.postuser-details{
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(196, 196, 196);
}
.user-post-details{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}