.signUp-container{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Logo */
.sign-up-logo{
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
}


.signup-body{
    width: 500px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.signup-text p{
font-size: 14px;
margin: 10px 0;
}

.form-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.signup-input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.signup-name-field{
    display: flex;
    gap: 20px;
}
.signup-input-field label{
    margin: 5px 0;
    font-weight: 900;
}
.signup-input-field input{
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 10px;
    background-color: rgb(229, 229, 229);
}
.signup-input-field input::placeholder{
    color: rgb(154, 154, 154);
}

#sign-up-btn{
    width: 180px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 170, 255);
    margin: auto;
    cursor: pointer;
}
.user-consent{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    font-size: 14px;
}
.user-consent input{
    margin: 3px;
}
#sign-up-btn:hover{
    background-color: rgb(0, 153, 255);
}
