.overview-nav {
  height: 7vh;
  /* width: 100vw; */
  width: 100%;
  position: fixed;
  /* padding:0 120px; */
  padding: 0 10px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter:  blur(10px);
}

.overview-nav-logo {
  font-size: 20px;
  font-weight: 900;
}

.overview-signin {
  padding: 8px 15px;
  background-color: rgb(241, 241, 241);
  color: var(--primary-color);
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: none;
  
}
.overview-signup {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.overview-signin:hover{
    outline: 1px solid var(--primary-color);
}

